@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% {
    scale: 1;
    background: #090909;
  }
  50% {
    scale: 1.05;
    background: #0d0d0e;

  }
  100% {
    scale: 1;
    background: #090909;
  }
}
.cards {
  animation: fadeIn infinite 4s;
}
.fixed-img {
  background-attachment: fixed;
  background-image: url('./assets/rafas.svg');
  background-position: center;
  background-size: cover;
}
.fixed-bg {
  background-image: url('./assets/rafas.svg');
  background-position: center;
  background-size: cover;
}
.img-bg {
  background-image: url('./assets/pc-room.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}
.coffee {
  background-image: url('./assets/resolve.png');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}
.underrated {
  background-image: url('./assets/beer.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.animation-fadeIn {
  animation: fadeIn 1.8s forwards;
}
@font-face {
  font-family: 'Orbitron';
  src: url('./fonts/Orbitron-Black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Orbitron';
  src: url('./fonts/Orbitron-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Orbitron';
  src: url('./fonts/Orbitron-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Orbitron';
  src: url('./fonts/Orbitron-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Orbitron';
  src: url('./fonts/Orbitron-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Orbitron';
  src: url('./fonts/Orbitron-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Zain';
  src: url('./fonts/Zain-Black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Zain';
  src: url('./fonts/Zain-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Zain';
  src: url('./fonts/Zain-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Zain';
  src: url('./fonts/Zain-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Zain';
  src: url('./fonts/Zain-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Zain';
  src: url('./fonts/Zain-Regular.ttf') format('truetype');
  font-weight: 400;
}

@layer utilities {
  .hover\:flex-grow-2:hover {
    flex-grow: 2;
  }
}
body {
  background-color: #0d0d0e;
  background-color: #090909;
  background-color: #060606;
}

